<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="csrf-token" content="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
	<meta name="description" content="" />

	<link rel="shortcut icon" href="~/assets/front/favicon.ico?ver=0.1" type="image/x-icon">
	<link rel="icon" href="~/assets/front/favicon.ico?ver=0.1" type="image/x-icon">

	<link rel='stylesheet' type='text/css' href='~/assets/front/_css/fonts/kiket/styles.css'>
	<link rel='stylesheet' type='text/css' href='~/assets/front/_css/animate.css'>
	<link rel="stylesheet" type="text/css" href="~/assets/front/_css/master.css">
	<link rel="stylesheet" type="text/css" href="~/assets/front/_css/media.css">

	<script src="~/assets/front/_js/jquery-1.11.1.min.js"></script>

</head>
<body>



	@RenderBody()

	<footer class='footer_style1'>
		<div class='alarm_style2'>
		</div>
		<div class='container'>
			<div class='inner clearfix'>
				<div class='right_part'>
					<a href='' title='' class='logo'></a>
					<div class='title'>فروشگاه لوازم آشپزخانه کی کِت</div>
					<p class='text'>0000</p><!--close .text-->
					<div class='atlasweb'>
						<span class='atlas_logo'></span>
						<a href='http://gowebsite.ir/' target='_blank' title='طراحی سایت'>طراحی سایت</a> و
						<a href='http://gowebsite.ir/سئو/search-engine-optimization' title='بهینه سازی سایت'
						   target='_blank'>سئو</a> توسط اطلس وب
					</div><!--close .atlasweb-->
				</div><!--close .right_part-->
				<div class='left_part'>
					<div class='footer_part1'>
						<ul class='step clearfix none_list_style'>
							<li class='item'>
								<span class='icon'><i class='i-like'></i></span>
								<span class='content'>دارای نماد الکترونیک</span>
							</li>
							<li class='item'>
								<span class='icon'><i class='i-brand'></i></span>
								<span class='content'>ضمانت اصل بودن کالا</span>
							</li>
							<li class='item'>
								<span class='icon'><i class='i-label'></i></span>
								<span class='content'>ضمانت قیمت کالا</span>
							</li>


							<li class='item'>
								<a href='/login' title='' class='link'>
									<span class='icon'><i class='i-setting-search'></i></span>
									<span class='content'>پیگیری خرید</span>
								</a>

							</li>
						</ul>
					</div><!--close .footer_part1-->
					<div class='footer_part2'>
						<ul class='step clearfix none_list_style'>
							<li class='item clearfix'>
								<span class='icon'><i class='i-telephone'></i></span>
								<div class='content'>
									<span>0000</span>
								</div>
							</li>
							<li class='item clearfix'>
								<span class='icon'><i class='i-mail'></i></span>
								<div class='content'>
									<span>info@kiket.ir</span>
								</div>
							</li>
						</ul>
					</div><!--close .footer_part2-->
					<div class='footer_part3'>
						<ul class='step clearfix none_list_style'>
							<li class='item'>
								<a href='/هود/products/category/1' title='' class='link'>
									هود
								</a>
							</li>
							<li class='item'>
								<a href='/سینک-ظرفشویی/products/category/6' title='' class='link'>
									سینک ظرفشویی
								</a>
							</li>
							<li class='item'>
								<a href='/اجاق-گاز-و-فر/products/category/12' title='' class='link'>
									اجاق گاز و فر
								</a>
							</li>
							<li class='item'>
								<a href='/قهوه-ساز/products/category/7' title='' class='link'>
									قهوه ساز
								</a>
							</li>
							<li class='item'>
								<a href='/ماکروویو/products/category/13' title='' class='link'>
									ماکروویو
								</a>
							</li>
						</ul>
					</div><!--close .footer_part3-->
					<div class='footer_part4 clearfix'>
						<div class='news_letter'>
							<form action="/share/newsletter" method="POST">
								<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
								<input name="email" type='text' placeholder=':: email'>
								<button type="submit">عضویت در خبرنامه</button>
							</form>
						</div>
						<div class='media_link'>
							<ul class='step none_list_style'>
								<li class='item'>
									<a href='http://instagram.com/' target="_blank" title='' class='link'><i class='i-instagram'></i></a>
								</li>
								<li class='item'>
									<a href='http://t.me/@@WiseSup' target="_blank" title='' class='link'><i class='i-telegram'></i></a>
								</li>
							</ul>
						</div>
					</div><!--close .footer_part4-->
					<div class='footer_part5'>
						<ul class='step clearfix none_list_style'>
							<li class='item'><a href='' class='link'>صفحه اصلی</a></li>
							<li class='item'>
								<a href='/محصولات/products' title='' class='link'>محصولات</a>
							</li>
							<li class='item'><a href='/اخبار/news' title='' class='link'>اخبار</a></li>
							<li class='item'><a href='/مقالات/article' title='' class='link'>مقالات</a></li>
							<li class='item'>
								<a href='/درباره-ما/about-us' title='' class='link'>
									درباره
									ما
								</a>
							</li>
							<li class='item'>
								<a href='/تماس-با-ما/contact-us' title='' class='link'>
									تماس
									با ما
								</a>
							</li>
							<li class='item'>
								<a href='/قوانین-و-سیاست-ها/law' title='' class='link'>
									قوانین
									و سیاست ها
								</a>
							</li>
							<li class='item'>
								<a href='/نقشه-سایت/sitemap' title='' class='link'>
									نقشه
									سایت
								</a>
							</li>
						</ul>
					</div><!--close .footer_part5-->
				</div><!--close .left_part-->
			</div><!--close .inner-->
		</div><!--close .container-->

		<div class="alarm_style2">
			<div class="success_alarm box">
				<div class="alarm_icon"><img src="assets/front/_images/icon/checked.png" alt=""></div>
				<div class="alarm_text">شما وارد سایت شدید</div>
				<div class="close_icon"><i class="i-cancel"></i></div>
			</div>
		</div>

		<div class='goto_top gotop'><i class='i-up-open'></i></div>
	</footer><!--close footer-->

	<script src='~/assets/front/_js/jquery-ui-effect.min.js'></script>
	<script src='~/assets/front/_js/html5shiv.min.js'></script>

	<!--form validate-->
	<script src='~/assets/front/_js/jquery.validate.min.js'></script>
	<script src='~/assets/front/_js/additional-methods.min.js'></script>
	<script src='~/assets/front/_js/all_form_validate.js?ver=0.6'></script>

	<!--toast-->
	<link href='~/assets/front/_plugins/toast/jquery.toast.css' rel='stylesheet' type='text/css'>
	<script src='~/assets/front/_plugins/toast/jquery.toast.min.js'></script>

	<!--ajax form-->
	<script src='~/assets/front/_js/jQuery.form.js'></script>

	<!--ellipsis-->
	<script src='~/assets/front/_plugins/ellipsis/jquery.dotdotdot.min.js'></script>

	<!--autosize-->
	<script src='~/assets/front/_plugins/autosize/jquery.autosize.min.js'></script>

	<!--scripts-->
	<script src='~/assets/front/_js/functions.js?ver=0.1'></script>
	<script src='~/assets/front/_js/master.js?ver=0.1'></script>


	<!--all script in this page-->
	<!--all script in this page-->
	<!--bxslider-->
	<script src='~/assets/front/_plugins/bxslider/jquery.bxslider.min.js'></script>
	<link href='~/assets/front/_plugins/bxslider/jquery.bxslider.css' type='text/css' rel='stylesheet'>

	<!--ms_scroll-->
	<link rel='stylesheet' type='text/css'
		  href='~/assets/front/_plugins/ms_scroll/jquery.mCustomScrollbar.css'>
	<script src='~/assets/front/_plugins/ms_scroll/jquery.mCustomScrollbar.concat.min.js'></script>

	<!--owl_carosel-->
	<link rel='stylesheet' href='~/assets/front/_plugins/owlcarousel/owl.carousel.min.css'>
	<script src='~/assets/front/_plugins/owlcarousel/owl.carousel.min.js'></script>

	<!--nice select-->
	<script src="~/assets/front/_plugins/nice_select/js/jquery.nice-select.min.js"></script>
	<link rel="stylesheet" type="text/css" href="~/assets/front/_plugins/nice_select/css/nice_select.css">

	<!--scripts-->



	<script>

		$(document).ready(function () {
			/////////////////////////////////////////////////////////////////////////////////////
			// open .sub_menu
			$('.have_menu').hover(function () {
				$(this).find('.sub_style1').fadeIn(0, function () {
					$(this).addClass('active');
				});
			}, function () {
				$(this).find('.sub_style1').slideUp(200, function () {
					$(this).removeClass('active');
				});
			});
			/////////////////////////////////////////////////////////////////////////////////////
			// header text 3D
			var rotateForce = 17; // max popup rotation in deg
			$(document).mousemove(function (e) {
				var docX = $(document).width();
				var docY = $(document).height();
				var rotateY = (e.pageX / docX * rotateForce * 2) - rotateForce;
				var rotateX = -((e.pageY / docY * rotateForce * 5) - rotateForce);
				$('.header_style1 .header_part2 .text_part').css('transform', 'rotateX(' + rotateX + 'deg) rotateY(' + rotateY + 'deg)');
			});
			/////////////////////////////////////////////////////////////////////////////////////
			// .select_style1
			$('.select_style1').niceSelect();
			/////////////////////////////////////////////////////////////////////////////////////
			//#slideshow
			$('.slide1').owlCarousel({
				autoplay: true,
				autoplayTimeout: 4000,
				loop: true,
				nav: true,
				navText: [],
				autoplaySpeed: 1000,
				rtl: true,
				mouseDrag: true,
				dots: false,
				items: 5,
				startPosition: 0,
				autoWidth: false,
				margin: 15,
				responsive: {
					0: { items: 1 },
					750: { items: 2, margin: 25 },
					1000: { items: 4, margin: 15 },
					1200: { items: 5, margin: 15 }
				}
			});
			/////////////////////////////////////////////////////////////////////////////////////
			//#slideshow
			$('.slide2').owlCarousel({
				autoplay: true,
				autoplayTimeout: 18000,
				animateOut: "fadeOut",
				animateIn: "fadeIn",
				loop: true,
				nav: true,
				navText: [],
				rtl: true,
				mouseDrag: false,
				dots: false,
				items: 1
			});
			$('.slide2').on('translated.owl.carousel', function () {
				$('.slide2 .item').removeClass('active');
				setTimeout(function () {
					$('.slide2 .item').addClass('active');
				}, 500);
			});
			$('.slide2').on('changed.owl.carousel ', function () {
				$('.slide2 .item').removeClass('active');
			});
			$(window).load(function () {
				$('.slide2 .item').addClass('active');
			});
			/////////////////////////////////////////////////////////////////////////////////////
			//#slideshow
			$('.slide3').owlCarousel({
				autoplay: true,
				autoplayTimeout: 5000,
				loop: true,
				nav: true,
				navText: [],
				autoplaySpeed: 1000,
				rtl: true,
				mouseDrag: true,
				dots: false,
				lazyLoad: true,
				items: 4,
				startPosition: 0,
				autoWidth: false,
				margin: 25,
				responsive: {
					0: { items: 1 },
					750: { items: 2 },
					900: { items: 3 },
					1200: { items: 4 }
				}
			});
			////////////////////////////////////////////////////////////////////////////
			// OWL BTNS
			$('.owl_btns .next').click(function () {
				var target = $(this).parents('.owl_btns').data('target');
				$(target).trigger('next.owl.carousel');
			});
			$('.owl_btns .prev').click(function () {
				var target = $(this).parents('.owl_btns').data('target');
				$(target).trigger('prev.owl.carousel');
			});


		});

	</script>

	@RenderSection("Scripts", required: false)

</body>
</html>
