@{
	ViewData["Title"] = "صفحه اصلی";
}
@*<header class='header_style1'>
		<div class='container'>
			<div class='inner'>
				<div class='header_part1 clearfix'>
					<div class='right_part'>
						<a href='' title='' class='logo'></a>
					</div><!--close .right_part-->
					<div class='center_part'>
						<ul class='step clearfix none_list_style'>
							<li class='item'><a href='' title='' class='link'>صفحه اصلی</a></li>
							<li class='item have_menu'>
								<a href='/خرید بلیط/products' title='' class='link'>خرید بلیط</a>
								<div class='sub_style1'>
									<ul class='step2 none_list_style'>
										<li class='item2'>
											<a href='/سینما/products/category/13'
											   class='link2'>سینما</a>
										</li>
										<li class='item2'>
											<a href='/تئاتر/products/category/7'
											   class='link2'>تئاتر</a>
										</li>
										<!-- <li class='item2'>
												<a href='/اجاق-گاز-و-فر/products/category/12'
												   class='link2'>اجاق گاز و فر</a>
											</li>
											<li class='item2'>
												<a href='/سینک-ظرفشویی/products/category/6'
												   class='link2'>سینک ظرفشویی</a>
											</li>
											<li class='item2'>
												<a href='/هود/products/category/1'
												   class='link2'>هود</a>
											</li>
										</ul>-->
								</div>
							</li>
							<li class='item'><a href='/پیگیری خرید/news' title='' class='link'>پیگیری خرید</a></li>
							<li class='item'><a href='/اخبار/news' title='' class='link'>اخبار</a></li>
							<li class='item'><a href='/کانون ها/article' title='' class='link'>دوره و کارگاه های آموزشی</a></li>
							<!--<li class='item'>
								<a href='/درباره-ما/about-us' title='' class='link'>
									درباره
									ما
								</a>
							</li>-->
							<li class='item'>
								<a href='/تماس-با-ما/contact-us' title='' class='link'>
									تماس
									با ما
								</a>
							</li>
							<li class='item'>
								<!--<a href='/قوانین-و-سیاست-ها/law' title='' class='link'>
									قوانین
									و سیاست ها
								</a>-->
							</li>
						</ul>
					</div><!--close .center_part-->
					<div class='left_part'>
						<ul class='step none_list_style'>
							<li class='item have_tooltip responsive_menu_btn menu'>
								<span class='link'>
									<i class='i-layout'></i>
									<div class='tooltip_style1'><span>فهرست</span></div>
								</span>
							</li>
							<li class='item have_tooltip'>
								<a href='/cart' class='link' title=''>
									<i class='i-shop'></i>
									<div class='tooltip_style1'><span>سبد خرید</span></div>
								</a>
							</li>
							<!--<li class='item have_tooltip'>
								<a href='/register' class='link' title=''>
									<i class='i-add-user'></i>
									<div class='tooltip_style1'><span>ورود / عضویت</span></div>
								</a>
							</li>-->
							<li class="item have_tooltip">
								<a href="/user/profile" class="link" title="">
									<i class="i-avatar"></i>
									<div style="display: none; opacity: 1;" class="tooltip_style1"><span>پروفایل من</span></div>
								</a>
							</li>
							<li class="item have_tooltip">
								<a href="/logout" class="link" title="">
									<i class="i-power-1"></i>
									<div style="display: none; opacity: 1;" class="tooltip_style1"><span>خروج</span></div>
								</a>
							</li>
						</ul>
					</div><!--close .left_part-->
				</div><!--close .header_part1-->
				<div class='header_part2'>
					<div class='text_part'>
						<!--<div class='sub_title'>فروشگاه لوازم آشپزخانه</div>-->
						<!-- <div class='title'>کی کِت</div>-->
						<!--<img src='assets/front/_images/logo/logo_text.png' alt=''>-->
					</div>	<!--close .text_part-->
				</div> <!--close .header_part2-->
			</div><!--close .inner-->
		</div><!--close .container-->
		<div class='header_part3'>
			<div class='part_position'>
				<div class='container'>
					<div class='inner'>
						<div class='wrapper clearfix'>
							<a href='' title='' class='logo_part'></a>
							<div class='search_part'>
								<form method="POST" action="/search/query">
									<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									<button class='search_btn'><i class='i-search'></i></button>

									<input type='text' name="query" placeholder='عبارت مورد نظر خود را جستجو کنید...'>
								</form>
							</div><!--close .search_part-->
						</div><!--close .wrapper-->
					</div><!--close .inner-->
				</div><!--close .container-->
			</div><!--close .part_poition-->
		</div><!--close .header_part3-->
		<div class='responsive_menu'>
			<div class='close_bg'></div>
			<div class='wrapper'>
				<div class='close_btn'><i class='i-cancel'></i></div>
				<div class='top_part'>
					<a href='' title='' class='logo'>
						<span>فروشگاه لوازم آشپزخانه کی کِت</span>
					</a>
				</div><!-- close .top_part -->
				<div class='middle_part'>
					<ul class='step clearfix none_list_style'>
						<li class='item'>
							<a href='/login' class='link' title=''>
								<i class='i-add-user'></i><span>ورود / عضویت</span>
							</a>
						</li>
						<li class='item'>
							<a href='/cart' class='link' title=''>
								<i class='i-shop'></i><span>سبد خرید</span>
							</a>
						</li>


						<li class="item">
							<a href="/user/profile" class="link" title="">
								<i class="i-avatar"></i>
								<span>پروفایل من</span>
							</a>
						</li>
						<li class="item">
							<a href="/logout" class="link" title="">
								<i class="i-power-1"></i>
								<span>خروج</span>
							</a>
						</li>
					</ul>
				</div><!-- close .middle_part -->




				<div class='bottom_part'>
					<div class='have_scroll_y'>
						<ul class='step none_list_style'>
							<li class='item'>
								<a href='' title='' class='link'>صفحه اصلی</a>
							</li>
							<li class='item have_menu'>
								<a href='/محصولات/products' title='' class='link'>محصولات</a>
								<div class='sub_style2'>
									<ul class='step2 none_list_style'>
										<li class='item2'>
											<a href='/ماکروویو/products/category/13'
											   class='link2'>ماکروویو</a>
										</li>
										<li class='item2'>
											<a href='/قهوه-ساز/products/category/7'
											   class='link2'>قهوه ساز</a>
										</li>
										<li class='item2'>
											<a href='/اجاق-گاز-و-فر/products/category/12'
											   class='link2'>اجاق گاز و فر</a>
										</li>
										<li class='item2'>
											<a href='/سینک-ظرفشویی/products/category/6'
											   class='link2'>سینک ظرفشویی</a>
										</li>
										<li class='item2'>
											<a href='/هود/products/category/1'
											   class='link2'>هود</a>
										</li>
									</ul>
								</div>
							</li>
							<li class='item'>
								<a href='/اخبار/news' title='' class='link'>اخبار</a>
							</li>
							<li class='item'><a href='/مقالات/article' title='' class='link'>مقالات</a></li>
							<li class='item'>
								<a href='/درباره-ما/about-us' title='' class='link'>
									درباره
									ما
								</a>
							</li>
							<li class='item'>
								<a href='/تماس-با-ما/contact-us' title='' class='link'>
									تماس
									با ما
								</a>
							</li>
							<li class='item'>
								<a href='/قوانین-و-سیاست-ها/law' title='' class='link'>
									قوانین
									و سیاست ها
								</a>
							</li>
						</ul>
					</div><!-- close .have_scroll_y -->
				</div><!-- close .bottom_part -->
			</div><!-- close .wrapper -->
		</div><!-- close .responsive_menu -->
	</header>*@


@await Html.PartialAsync("P_header")
<!--close .header_style1-->
<main class='main_page'>
	<section class='home_part1'>
		<div class='container'>
			<div class='inner'>
				<ul class='box_style1 clearfix none_list_style'>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/1.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>

						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/2.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/3.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/4.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/5.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/6.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/7.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/8.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/9.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/10.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>

					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/11.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>
					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/12.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>

					</li>
					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/13.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>

					</li>


					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/14.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>
					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/15.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>
					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/16.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>
					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/17.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>
					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/18.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>
					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/19.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>
					<li class='item'>
						<div class='pic_part'>
							<div class='pic'
								 style='background-image:url(/uploads/20.jpg);'></div>
							<a class="pic_part" href="canon.html"></a>
						</div>
					</li>
					@*<li class='item'>
							<div class='pic_part'>
								<div class='pic'
									 style='background-image:url(/uploads/20.jpg);'></div>
								<a class="pic_part" href="canon.html"></a>
							</div>
						</li>*@
					@*<li class='item'>
							<div class='pic_part' style='cursor:pointer' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=61850&p=hwmbnbpdaqgwyncrdrfs","Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1,resizable=0, width=580, height=600, top=30")'>
								<div id='brgwdrftwmcsrgvlsgui' class='pic' style='background-image:url(/uploads/10-best-shopping-store-logo.gif);'></div>

							</div>
						</li>*@
				</ul><!--close .box_style1-->
			</div><!--close .inner-->
		</div><!--close .container-->
	</section><!--close .home_part1-->
	<section class='home_part2'>
		<div class='container'>
			<div class='inner'>
				<div class='title_style1'>
					<div class='title'>فیلم و تئاتر</div>
					<div class='btn'>
						<div class='owl_btns' data-target='.slide1'>
							<span class='arrow right prev'><i class='i-left-open'></i></span>
							<span class='arrow left next'><i class='i-right-open'></i></span>
						</div>
					</div>
				</div><!--close .title_style1-->
				<div class='box_style2'>
					<ul class='step slide1 owl-carousel none_list_style'>
						<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
                                                    document.getElementById('cart-product-1').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-1" style="display: none;">
										<input type="hidden" name="product_id" value="1">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/هود-وایز-WH201/products/1">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/zhen.jpg);'></div>
								<div class='price_part'>
									<!--<span class='off_price'>1,015,000 تومان</span>-->
									<span class='org_price'>1,067,000 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/هود-وایز-WH201/products/1'
								   title='' class='name ellipsis'>ژن خونی</a>
							</div>
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
                                                    document.getElementById('cart-product-2').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-2" style="display: none;">
										<input type="hidden" name="product_id" value="2">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/اجاق-گاز-صفحه-ای-اخوان/products/2">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/four.jpg);'></div>
								<div class='price_part'>
									<!-- <span class='off_price'>500,000 تومان</span>-->
									<span class='org_price'>445,000 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/اجاق-گاز-صفحه-ای-اخوان/products/2'
								   title='' class='name ellipsis'>چهار انگشت</a>
							</div>
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
                                                    document.getElementById('cart-product-5').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-5" style="display: none;">
										<input type="hidden" name="product_id" value="5">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/سینک-ظرفشویی-استیل-البرز/products/5">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/zendani.jpg);'></div>
								<div class='price_part'>
									<!--  <span class='off_price'>500,000 تومان</span>-->
									<span class='org_price'>445,000 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/سینک-ظرفشویی-استیل-البرز/products/5'
								   title='' class='name ellipsis'>زندانی ها</a>
							</div>
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
                                                    document.getElementById('cart-product-6').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-6" style="display: none;">
										<input type="hidden" name="product_id" value="6">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/قهوه-ساز-و-میکسر-meaceo/products/6">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/metry.jpg);'></div>
								<div class='price_part'>
									<!-- <span class='off_price'>150 تومان</span>-->
									<span class='org_price'>100 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/قهوه-ساز-و-میکسر-meaceo/products/6'
								   title='' class='name ellipsis'>متری شش و نیم</a>
							</div>
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
                                                    document.getElementById('cart-product-7').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-7" style="display: none;">
										<input type="hidden" name="product_id" value="7">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/ماکرویو-به-همراه-جوجه-گردان/products/7">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/takhti.jpg);'></div>
								<div class='price_part'>
									<!-- <span class='off_price'>1,000,000 تومان</span>-->
									<span class='org_price'>999,000 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/ماکرویو-به-همراه-جوجه-گردان/products/7'
								   title='' class='name ellipsis'>غلامرضا تختی</a>
							</div>
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
                                                    document.getElementById('cart-product-12').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-12" style="display: none;">
										<input type="hidden" name="product_id" value="12">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/هود-استیل-البرز/products/12">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/pishonisefid3.jpg);'></div>
								<div class='price_part'>
									<!-- <span class='off_price'>560,000 تومان</span>-->
									<span class='org_price'>500,000 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/هود-استیل-البرز/products/12'
								   title='' class='name ellipsis'>پیشونی سفید 3</a>
							</div>
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
                                                    document.getElementById('cart-product-13').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-13" style="display: none;">
										<input type="hidden" name="product_id" value="13">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/هود-وایز-WH202/products/13">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/tegzas2.jpg);'></div>
								<div class='price_part'>
									<!--  <span class='off_price'>1,387,000 تومان</span>-->
									<span class='org_price'>1,632,000 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/هود-وایز-WH202/products/13'
								   title='' class='name ellipsis'>تگزاس 2</a>
							</div>
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
                                                    document.getElementById('cart-product-14').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-14" style="display: none;">
										<input type="hidden" name="product_id" value="14">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/هود-وایز-WH203/products/14">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/ashghal.jpg);'></div>
								<div class='price_part'>
									<!--<span class='off_price'>1,575,000 تومان</span>-->
									<span class='org_price'>1,657,000 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/هود-وایز-WH203/products/14'
								   title='' class='name ellipsis'>آشغال های دوست داشتنی</a>
							</div>
						</li><!--close .item-->
						<!--<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
												document.getElementById('cart-product-15').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-15" style="display: none;">
										<input type="hidden" name="product_id" value="15">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/هود-وایز-WH204/products/15">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/kiket-lt2J-WH204.jpg);'></div>
								<div class='price_part'>
								 <!--   <span class='off_price'>1,680,000 تومان</span>
									<span class='org_price'>1,767,000 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/هود-وایز-WH204/products/15'
								   title='' class='name ellipsis'>هود وایز WH204</a>
							</div>
						</li><!--close .item
						<li class='item'>
							<div class='top_part'>
								<ul class='link_part none_list_style'>
									<li class='item2 add_cart have_tooltip'>
										<a href='/cart/add' onclick="event.preventDefault();
												document.getElementById('cart-product-16').submit();"
										   title='' class='link2'>
											<i class='i-add-shop'></i>
											<div class='tooltip_style1'><span>افزودن به سبد خرید</span></div>
										</a>
									</li>
									<form method="POST" action="/cart/add"
										  id="cart-product-16" style="display: none;">
										<input type="hidden" name="product_id" value="16">
										<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
									</form>
									<li class='item2 box_btn have_tooltip'>
										<a href="/هود-وایز-WH205/products/16">
											<i class='i-link'></i>
											<div class='tooltip_style1'><span>جزییات بیشتر</span></div>
										</a>
									</li>
								</ul>
								<div class='pic'
									 style='background-image:url(/uploads/kiket-jiOJ-WH205.jpg);'></div>
								<div class='price_part'>
									<span class='off_price'>1,680,000 تومان</span>
									<span class='org_price'>1,767,000 تومان</span>
								</div>
							</div>
							<div class='bottom_part'>
								<a href='/هود-وایز-WH205/products/16'
								   title='' class='name ellipsis'>هود وایز WH205</a>
							</div>
						</li><!--close .item-->
					</ul><!--close .step-->
				</div><!--close .box_style2-->
			</div><!--close .inner-->
		</div><!--close .container-->
	</section><!--close .home_part2-->
	<section class='home_part3'>
		<div class='container'>
			<div class='inner'>
				<div class='btn'>
					<div class='owl_btns' data-target='.slide2'>
						<span class='arrow prev fleft'>
							قبلی<i class='i-left-open icon1'></i><i class='i-left-open icon2'></i>
						</span>
						<span class='arrow next fright'>
							بعدی<i class='i-right-open icon1'></i><i class='i-right-open icon2'></i>
						</span>
					</div>
				</div>
				<ul class='step slide2 owl-carousel none_list_style'>
					<li class='item clearfix'>
						<div class='section_part left_part fleft'>
							<div class='pic_part'
								 style='background-image:url(/uploads/kiket-G40a-WH201.jpg);'>
								<ul class='step2 none_list_style'>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
								</ul>
							</div><!--close .pic_part-->
						</div><!--close .section_part-->
						<div class='section_part right_part fright'>
							<a href='/هود-وایز-WH201/products/1'
							   title='' class='title_style2'>هود وایز WH201</a>
							<p class='text ellipsis'>
								هود وایز WH201

								اندازه عرض : 90 سانتی متر | طرح شومينه اي تمام مشكی | پيشرفته ترين موتور 5 سرعته فلزی قدرتمند مجهز به 2 فن فلزی | Super Silent | صفحه نمايشگر تمام لمسی با ريموت كنترل | جنس بدنه تركيبی از تيتانيوم و شيشه حرارتی نشكن | فيلترهای استيل ژاپن قابل شستشو | قابليت كاركرد با فيلتر ذغالی ، براي مكانهای فاقد خروجی هوا | داراي 2 چراغ LED قوی | تايمر ديجيتال | محفظه روغنگير | سنسور بو و حرارت | شاخص مصرف انرژی A
							</p><!--close .text-->
							<!--  <div class='product_information'>
								  <div class='title_style3'><span class='title'>مشخصات کالا</span></div>
								  <ul class='step2 none_list_style'>
									  <li class='item2'>
										  <span class='title'>
											  شرکت سازنده
											  :
										  </span>
										  <span class='content'>وایز</span>
									  </li>
									  <li class='item2'>
										  <span class='title'>
											  رنگ
											  :
										  </span>
										  <span class='content'>مشکی</span>
									  </li>
									  <li class='item2'>
										  <span class='title'>
											  گارانتی
											  :
										  </span>
										  <span class='content'>2 ساله وایز سرویس</span>
									  </li>
								  </ul>
							  </div><!--close .product_information
							  <div class='link_part'>
								  <a href='/cart/add' onclick="event.preventDefault();
										  document.getElementById('cart-pack-1').submit();" title=''
									 class='btn_style1 add_cart'>
									  <i class='i-add-shop'></i><span>افزودن به سبد خرید</span>
								  </a>
								  <a href='/هود-وایز-WH201/products/1'
									 title='' class='btn_style1 see_more'><i class='i-link'></i><span>جزییات بیشتر کالا</span></a>
							  </div>
							  <form method="POST" action="/cart/add" id="cart-pack-1"
									style="display: none;">
								  <input type="hidden" name="product_id" value="1">
								  <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
							  </form>-->
						</div><!--close .right_part-->
					</li><!--close .item-->
					<li class='item clearfix'>
						<div class='section_part left_part fleft'>
							<div class='pic_part'
								 style='background-image:url(/uploads/aftab.png);'>
								<ul class='step2 none_list_style'>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
								</ul>
							</div><!--close .pic_part-->
						</div><!--close .section_part-->
						<div class='section_part right_part fright'>
							<a href='/اجاق-گاز-صفحه-ای-اخوان/products/2'
							   title='' class='title_style2'>نمایشگاه نگاره های ذهن برگزار شد.</a>
							<p class='text ellipsis'>
								به همت کانون دختران ایران، نمایشگاه "نگاره های ذهن" در دانشکده معماری و شهرسازی دانشگاه فردوسی از 28 آذر تا 2 دی 95  برگزار شد.



								به گزارش خبرنگار فرهنگی دانشگاه، در این نمایشگاه آثار نقاشی آبرنگ خانم ریحانه هاشمی، دانشجوی سال آخر رشته معماری، به نمایش درآمد. این آثار که با دستان هنرمند این بانو به سبک آبستره خلق شده بود، مورد استقبال مخاطبان قرار گرفت.
							</p><!--close .text-->
							<!--<div class='product_information'>
								<div class='title_style3'><span class='title'>مشخصات کالا</span></div>
								<ul class='step2 none_list_style'>
									<li class='item2'>
										<span class='title'>
											رنگ
											:
										</span>
										<span class='content'>مشکی</span>
									</li>
									<li class='item2'>
										<span class='title'>
											کشور سازنده
											:
										</span>
										<span class='content'>ایران</span>
									</li>
									<li class='item2'>
										<span class='title'>
											شرکت سازنده
											:
										</span>
										<span class='content'>استیل البرز</span>
									</li>
								</ul>
							</div><!--close .product_information-->
							<!--  <div class='link_part'>
									<a href='/cart/add' onclick="event.preventDefault();
											document.getElementById('cart-pack-2').submit();" title=''
									   class='btn_style1 add_cart'>
										<i class='i-add-shop'></i><span>افزودن به سبد خرید</span>
									</a>
									<a href='/اجاق-گاز-صفحه-ای-اخوان/products/2'
									   title='' class='btn_style1 see_more'><i class='i-link'></i><span>جزییات بیشتر کالا</span></a>
								</div>
								<form method="POST" action="/cart/add" id="cart-pack-2"
									  style="display: none;">
									<input type="hidden" name="product_id" value="2">
									<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
								</form>
							</div><!--close .right_part-->
					</li><!--close .item-->
					<li class='item clearfix'>
						<div class='section_part left_part fleft'>
							<div class='pic_part'
								 style='background-image:url(/uploads/kiket-yAQV-3.jpg);'>
								<ul class='step2 none_list_style'>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
								</ul>
							</div><!--close .pic_part-->
						</div><!--close .section_part-->
						<div class='section_part right_part fright'>
							<a href='/سینک-ظرفشویی-استیل-البرز/products/5'
							   title='' class='title_style2'>سینک ظرفشویی استیل البرز</a>
							<p class='text ellipsis'>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده در ستون وسطرآنچنان که لازم است چاپگرها و متون بلکه روزنامه و مجله در از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون وسطرآنچنان که لازم است چاپگرها و متون بلکه روزنامه و مجله در ستون وسطرآنچنان که چاپگرها و و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده در ستون وسطرآنچنان که لازم است چاپگرها و متون بلکه روزنامه و مجله در از طراحان گرافیک است.
							</p><!--close .text-->
							<!-- <div class='product_information'>
									<div class='title_style3'><span class='title'>مشخصات کالا</span></div>
									<ul class='step2 none_list_style'>
										<li class='item2'>
											<span class='title'>
												رنگ
												:
											</span>
											<span class='content'>نقره ای</span>
										</li>
										<li class='item2'>
											<span class='title'>
												شرکت سازنده
												:
											</span>
											<span class='content'>استیل البرز</span>
										</li>
										<li class='item2'>
											<span class='title'>
												کشور سازنده
												:
											</span>
											<span class='content'>ایران</span>
										</li>
									</ul>
								</div><!--close .product_information
								<div class='link_part'>
									<a href='/cart/add' onclick="event.preventDefault();
											document.getElementById('cart-pack-5').submit();" title=''
									   class='btn_style1 add_cart'>
										<i class='i-add-shop'></i><span>افزودن به سبد خرید</span>
									</a>
									<a href='/سینک-ظرفشویی-استیل-البرز/products/5'
									   title='' class='btn_style1 see_more'><i class='i-link'></i><span>جزییات بیشتر کالا</span></a>
								</div>
								<form method="POST" action="/cart/add" id="cart-pack-5"
									  style="display: none;">
									<input type="hidden" name="product_id" value="5">
									<input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
								</form>
							</div><!--close .right_part-->
					</li><!--close .item-->
					<li class='item clearfix'>
						<div class='section_part left_part fleft'>
							<div class='pic_part'
								 style='background-image:url(/uploads/kiket-Z50i-5.jpg);'>
								<ul class='step2 none_list_style'>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
									<li class='star'></li>
								</ul>
							</div><!--close .pic_part-->
						</div><!--close .section_part-->
						<div class='section_part right_part fright'>
							<a href='/قهوه-ساز-و-میکسر-meaceo/products/6'
							   title='' class='title_style2'>قهوه ساز و میکسر meaceo</a>
							<p class='text ellipsis'>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده در ستون وسطرآنچنان که لازم است چاپگرها و متون بلکه روزنامه و مجله در از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون وسطرآنچنان که لازم است چاپگرها و متون بلکه روزنامه و مجله در ستون وسطرآنچنان که چاپگرها و و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده در ستون وسطرآنچنان که لازم است چاپگرها و متون بلکه روزنامه و مجله در از طراحان گرافیک است.
							</p><!--close .text-->
							<!-- <div class='product_information'>
								 <div class='title_style3'><span class='title'>مشخصات کالا</span></div>
								 <ul class='step2 none_list_style'>
									 <li class='item2'>
										 <span class='title'>
											 رنگ
											 :
										 </span>
										 <span class='content'>مشکی</span>
									 </li>
									 <li class='item2'>
										 <span class='title'>
											 کشور سازنده
											 :
										 </span>
										 <span class='content'>ایران</span>
									 </li>
									 <li class='item2'>
										 <span class='title'>
											 شرکت سازنده
											 :
										 </span>
										 <span class='content'>استیل البرز</span>
									 </li>
								 </ul>
							 </div><!--close .product_information
							 <div class='link_part'>
								 <a href='/cart/add' onclick="event.preventDefault();
										 document.getElementById('cart-pack-6').submit();" title=''
									class='btn_style1 add_cart'>
									 <i class='i-add-shop'></i><span>افزودن به سبد خرید</span>
								 </a>
								 <a href='/قهوه-ساز-و-میکسر-meaceo/products/6'
									title='' class='btn_style1 see_more'><i class='i-link'></i><span>جزییات بیشتر کالا</span></a>
							 </div>
							 <form method="POST" action="/cart/add" id="cart-pack-6"
								   style="display: none;">
								 <input type="hidden" name="product_id" value="6">
								 <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
							 </form>-->
						</div><!--close .right_part-->
					</li><!--close .item-->
				</ul><!--close .step-->
			</div><!--close .inner-->
		</div><!--close .container-->
	</section><!--close .home_part3-->
	<section class='home_part4'>
		<div class='title_style4'>
			<div class='title'>پرفروش ترین ها</div>
		</div><!--close .title_style1-->
		<div class='container'>
			<div class='inner'>
				<div class='box_style3'>
					<ul class='step slide3 owl-carousel none_list_style'>
						<li class='item'>
							<div class='top_part'>
								<a href='/هود-وایز-WH201/products/1'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-G40a-WH201.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/هود-وایز-WH201/products/1'
									   title='' class='name ellipsis'>هود وایز WH201</a>
									<div class='price_part'>
										<span class='org_price'>1067000 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/هود-وایز-WH201/products/1' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/هود-وایز-WH201/products/1'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<a href='/اجاق-گاز-صفحه-ای-اخوان/products/2'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-K4ux-8.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/اجاق-گاز-صفحه-ای-اخوان/products/2'
									   title='' class='name ellipsis'>اجاق گاز صفحه ای اخوان</a>
									<div class='price_part'>
										<span class='org_price'>445000 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/اجاق-گاز-صفحه-ای-اخوان/products/2' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/اجاق-گاز-صفحه-ای-اخوان/products/2'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<a href='/قهوه-ساز-و-میکسر-meaceo/products/6'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-Z50i-5.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/قهوه-ساز-و-میکسر-meaceo/products/6'
									   title='' class='name ellipsis'>قهوه ساز و میکسر meaceo</a>
									<div class='price_part'>
										<span class='org_price'>100 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/قهوه-ساز-و-میکسر-meaceo/products/6' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/قهوه-ساز-و-میکسر-meaceo/products/6'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<a href='/سینک-ظرفشویی-استیل-البرز/products/5'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-yAQV-3.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/سینک-ظرفشویی-استیل-البرز/products/5'
									   title='' class='name ellipsis'>سینک ظرفشویی استیل البرز</a>
									<div class='price_part'>
										<span class='org_price'>445000 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/سینک-ظرفشویی-استیل-البرز/products/5' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/سینک-ظرفشویی-استیل-البرز/products/5'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<a href='/هود-استیل-البرز/products/12'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-N1YD-25030big.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/هود-استیل-البرز/products/12'
									   title='' class='name ellipsis'>هود استیل البرز</a>
									<div class='price_part'>
										<span class='org_price'>500000 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/هود-استیل-البرز/products/12' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/هود-استیل-البرز/products/12'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<a href='/ماکرویو-به-همراه-جوجه-گردان/products/7'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-1Qnz-1.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/ماکرویو-به-همراه-جوجه-گردان/products/7'
									   title='' class='name ellipsis'>ماکرویو به همراه جوجه گردان</a>
									<div class='price_part'>
										<span class='org_price'>999000 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/ماکرویو-به-همراه-جوجه-گردان/products/7' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/ماکرویو-به-همراه-جوجه-گردان/products/7'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<a href='/هود-وایز-WH202/products/13'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-eKEo-WH202010.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/هود-وایز-WH202/products/13'
									   title='' class='name ellipsis'>هود وایز WH202</a>
									<div class='price_part'>
										<span class='org_price'>1632000 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/هود-وایز-WH202/products/13' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/هود-وایز-WH202/products/13'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<a href='/هود-وایز-WH203/products/14'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-3fuf-WH203.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/هود-وایز-WH203/products/14'
									   title='' class='name ellipsis'>هود وایز WH203</a>
									<div class='price_part'>
										<span class='org_price'>1657000 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/هود-وایز-WH203/products/14' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/هود-وایز-WH203/products/14'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<a href='/هود-وایز-WH204/products/15'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-lt2J-WH204.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/هود-وایز-WH204/products/15'
									   title='' class='name ellipsis'>هود وایز WH204</a>
									<div class='price_part'>
										<span class='org_price'>1767000 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/هود-وایز-WH204/products/15' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/هود-وایز-WH204/products/15'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
						<li class='item'>
							<div class='top_part'>
								<a href='/هود-وایز-WH205/products/16'
								   title='' class='pic'
								   style='background-image:url(/uploads/kiket-jiOJ-WH205.jpg);'></a>
							</div><!--close .top_part-->
							<div class='bottom_part'>
								<div class='content_part'>
									<a href='/هود-وایز-WH205/products/16'
									   title='' class='name ellipsis'>هود وایز WH205</a>
									<div class='price_part'>
										<span class='org_price'>1767000 تومان</span>
									</div>
								</div><!--close .content_part-->
								<ul class='link_part clearfix none_list_style'>
									<li class='item2 add_cart'>
										<a href='/هود-وایز-WH205/products/16' title='' class='link2'>
											<i class='i-add-shop'></i>
											<span>افزودن به سبد خرید</span>
										</a>
									</li>
									<li class='item2 see_more'>
										<a href='/هود-وایز-WH205/products/16'
										   title='' class='link2'>
											<i class='i-link'></i>
											<span>بیشتر</span>
										</a>
									</li>
								</ul>
							</div><!--close .bottom_part-->
						</li><!--close .item-->
					</ul><!--close .step-->
				</div><!--close .box_style2-->
				<div class='btn'>
					<div class='owl_btns' data-target='.slide3'>
						<span class='arrow right prev'><i class='i-left-open'></i></span>
						<span class='arrow left next'><i class='i-right-open'></i></span>
					</div>
				</div>
			</div><!--close .inner-->
		</div><!--close .container-->
	</section><!--close .home_part4-->
	<section class="home_part5">
		<div class="container">
			<div class="inner">
				<div class="box_style7">
					<ul class="step none_list_style">
						<li class="item">
							<a href="#" title="" class="link"><img src="/uploads/10-best-shopping-store-logo.gif" alt=""></a>
						</li>
						<li class="item">
							<a href="#" title="" class="link"><img src="/uploads/10-best-shopping-store-logo.gif" alt=""></a>
						</li>
						<li class="item">
							<a href="#" title="" class="link"><img src="/uploads/10-best-shopping-store-logo.gif" alt=""></a>
						</li>
						<li class="item">
							<a href="#" title="" class="link"><img src="/uploads/10-best-shopping-store-logo.gif" alt=""></a>
						</li>
						<li class="item">
							<a href="#" title="" class="link"><img src="/uploads/10-best-shopping-store-logo.gif" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>